{
  "log": {
    "_recordingName": "cameras",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bf4b8bb4feeb3ee9d8534f46687ae3d9",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token de321adbc34606c6e8f1146b4121ebb0a3e0a6aff8c060ec"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "nanit-api-version",
              "value": "2"
            },
            {
              "name": "x-nanit-platform",
              "value": "iPhone 14 Pro Max"
            },
            {
              "name": "x-nanit-service",
              "value": "3.11.27 (699)"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.nanit.com/babies"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 35924,
            "text": "{\"babies\":[{\"birthdate\":\"2023-11-28T00:00:00Z\",\"share_data\":false,\"timezone\":\"America/Los_Angeles\",\"tips\":{\"settings\":{\"age_related_in_app\":true,\"baby_uid\":\"5871f4ab\",\"unsubscribe_token\":\"XXcRXfVV6WT90Mu1jSGefK0hr7Sk9g0KqVcioLQkgwINbE5XRef8UQgQE-SaXpI5\",\"sleep_emails\":true,\"general_tips\":true,\"in_app\":true,\"sleep_in_app\":true,\"updated_at\":\"2023-11-04T19:34:09.444793\",\"id\":1401664,\"inserted_at\":\"2023-11-04T19:34:09.444787\",\"user_id\":393085,\"emails\":true}},\"premature\":null,\"cvr_enabled\":true,\"permission\":{\"type\":\"owner\",\"allowed\":{\"receive_notifications\":true,\"attach_speaker\":true,\"edit_settings\":true,\"edit_baby_tips_settings\":true,\"control_nature_sounds\":true,\"edit_subscription\":true,\"update_firmware\":true,\"control_nightlight\":true,\"two_way_audio\":true,\"sting_monitoring\":true,\"membook\":true,\"share\":true,\"invite_edit_users\":true,\"see_hear_moment_videos\":true,\"view_summaries\":true,\"cvr\":true,\"smart_sheets\":true,\"edit_insights\":true,\"sound_on_stream\":true},\"enabled\":true,\"mode\":\"enabled\"},\"due_date\":\"2023-12-07T00:00:00Z\",\"sting_settings\":{\"user_id\":393085,\"baby_uid\":\"5871f4ab\",\"red_alert_phone_enabled\":true,\"red_alert_vibration_enabled\":true,\"red_alert_flashlight_enabled\":false},\"uid\":\"5871f4ab\",\"name\":\"Mya\",\"nature_sounds\":true,\"sting_enabled\":true,\"ab_group\":\"B\",\"purchase_details\":{\"source\":null,\"model\":null,\"review_url\":null},\"image_url\":null,\"night_end\":900,\"delivery_week\":null,\"updated_at\":\"2023-12-01T06:32:42Z\",\"night_settings\":[{\"id\":1019142,\"updated_at\":\"2023-11-04T19:34:03Z\",\"created_at\":\"2023-11-04T19:34:03Z\",\"baby_uid\":\"5871f4ab\",\"date\":\"1970-01-01T00:00:00Z\",\"night_start\":1800,\"night_end\":900}],\"night_start\":1800,\"research_group\":null,\"web_stream\":\"available\",\"paused_users\":[],\"age_in_days\":203,\"id\":613724,\"smart_sheets_enabled\":true,\"auto_pause_video_stream\":false,\"camera\":{\"alert_zone_setup\":false,\"shard_number\":189,\"uid\":\"N301CMN23332EF\",\"baby_uid\":\"5871f4ab\",\"mode\":\"STAND\",\"connected\":true,\"hardware\":\"gen_2\",\"dvr_status\":\"ON\",\"publish_group\":4,\"stream_url\":\"rtmps://media-secured.nanit.com\",\"active\":true,\"network\":{\"freq\":5180,\"ssid\":\"\\\\xe2\\\\x9a\\\\xa1\\\\xef\\\\xb8\\\\x8fYEEZUS\",\"level\":-66},\"version\":\"6.29.556\",\"public_address\":\"24.7.8.87:35664\",\"private_address\":\"192.168.1.237:442\",\"travel_only\":false,\"speaker\":true,\"last_seen\":1718694899,\"created_at\":\"2024-06-16T21:33:31Z\"},\"feature_flags\":[\"standing_notifications\",\"diaries_and_logging_fab_release_v2\",\"diaries_and_logging_fab_tooltip\"],\"audio\":true,\"gender\":\"female\",\"camera_uid\":\"N301CMN23332EF\",\"relation\":\"dad\",\"microphone\":true,\"speaker\":{\"attached_to_speaker\":false,\"speaker\":null},\"demo\":false,\"subscription\":{\"features\":{\"camera_cry_detection\":true,\"email_tips\":false,\"baby_standing\":true,\"frame_broadcasting\":true,\"watch_them_grow\":false,\"web_stream\":true,\"smart_routines_ok_to_wake\":true,\"google_home_stream\":true,\"toddler_left_the_bed\":true},\"canceled_at\":null,\"deleted_at\":null,\"upgrades\":{\"INSIGHTS_PREMIUM\":{\"cvr_storage\":10,\"rolling_video_history\":30,\"camera_cry_detection\":true,\"email_tips\":true,\"baby_standing\":true,\"history\":30,\"ordinal\":3,\"frame_broadcasting\":true,\"temp_and_humidity_history\":7,\"watch_them_grow_clips\":null,\"watch_them_grow\":true,\"missing_anniversaries\":2,\"membook\":200,\"web_stream\":true,\"smart_routines_ok_to_wake\":true,\"google_home_stream\":true,\"toddler_left_the_bed\":true,\"users\":10,\"cvr_history\":2},\"INSIGHTS_UNLIMITED\":{\"cvr_storage\":40,\"rolling_video_history\":30,\"camera_cry_detection\":true,\"email_tips\":true,\"baby_standing\":true,\"history\":null,\"ordinal\":4,\"frame_broadcasting\":true,\"temp_and_humidity_history\":30,\"watch_them_grow_clips\":null,\"watch_them_grow\":true,\"missing_anniversaries\":216,\"membook\":null,\"web_stream\":true,\"smart_routines_ok_to_wake\":true,\"google_home_stream\":true,\"toddler_left_the_bed\":true,\"users\":50,\"cvr_history\":7}},\"app_store_transaction_id\":null,\"uid\":3378,\"activation_code_id\":null,\"baby_uid\":\"5871f4ab\",\"provider_data\":{},\"created\":1699126443,\"virtual_period_start\":null,\"period_start\":1699126443,\"current_period_end\":1730662443,\"trial_end\":1730662443,\"premium_trial_offer\":{\"experiment_start_time\":1710334800,\"eligible\":false,\"experiment_group\":null,\"trial_days\":null},\"customer\":\"cus_JOzI2bVSVYgNlX\",\"level\":\"INSIGHTS_BASIC\",\"updated_at\":\"2023-11-04T19:34:03Z\",\"provider_id\":\"sub_1O8pbbDcYl0bal1ca2jU8Ffp\",\"status\":\"trialing\",\"id\":\"sub_1O8pbbDcYl0bal1ca2jU8Ffp\",\"ifa_type\":\"NANIT\",\"cancel_at_period_end\":false,\"period_end\":1730662443,\"google_purchase_token\":null,\"user_id\":393085,\"plan_id\":\"Insights-Basic-Yearly\",\"limits\":{\"cvr_storage\":0,\"rolling_video_history\":2,\"history\":2,\"ordinal\":1,\"temp_and_humidity_history\":2,\"watch_them_grow_clips\":0,\"missing_anniversaries\":1,\"membook\":12,\"users\":2,\"cvr_history\":0},\"camera_uid\":\"N301CMN23332EF\",\"virtual_level\":null,\"virtual_period_end\":null,\"trial_start\":1699126443,\"plan\":{\"archived\":true,\"features\":{\"camera_cry_detection\":true,\"email_tips\":false,\"baby_standing\":true,\"frame_broadcasting\":true,\"watch_them_grow\":false,\"web_stream\":true,\"smart_routines_ok_to_wake\":true,\"google_home_stream\":true,\"toddler_left_the_bed\":true},\"amount\":5000,\"is_trial\":false,\"free\":false,\"name\":\"Insights Sleep Annual\",\"level\":\"INSIGHTS_BASIC\",\"currency\":\"usd\",\"purchasable\":true,\"id\":\"Insights-Basic-Yearly\",\"interval\":\"year\",\"limits\":{\"cvr_storage\":0,\"rolling_video_history\":2,\"history\":2,\"ordinal\":1,\"temp_and_humidity_history\":2,\"watch_them_grow_clips\":0,\"missing_anniversaries\":1,\"membook\":12,\"users\":2,\"cvr_history\":0}},\"provider\":\"stripe\",\"current_period_start\":1699126443,\"metadata\":{\"baby_uid\":\"5871f4ab\"},\"used_amount\":null,\"subscribed_via\":\"default\",\"created_at\":\"2023-11-04T19:34:03Z\"},\"created_at\":\"2023-11-04T19:34:03Z\",\"ab_tests\":{\"credit_cards\":\"B\"},\"users\":[{\"mixpanel_tracking_enabled\":false,\"confirmed_at\":\"2021-05-01T05:24:52Z\",\"email\":\"tejesh.mehta@gmail.com\",\"permission\":{\"type\":\"owner\",\"allowed\":{\"receive_notifications\":true,\"attach_speaker\":true,\"edit_settings\":true,\"edit_baby_tips_settings\":true,\"control_nature_sounds\":true,\"edit_subscription\":true,\"update_firmware\":true,\"control_nightlight\":true,\"two_way_audio\":true,\"sting_monitoring\":true,\"membook\":true,\"share\":true,\"invite_edit_users\":true,\"see_hear_moment_videos\":true,\"view_summaries\":true,\"cvr\":true,\"smart_sheets\":true,\"edit_insights\":true,\"sound_on_stream\":true},\"enabled\":true,\"mode\":\"enabled\"},\"phone\":\"+18645251514\",\"logs\":0,\"enforce_mfa\":true,\"name\":\"Tejesh\",\"pending_email\":null,\"source\":\"Invited by Nanit user\",\"image_url\":null,\"logs_nl\":0,\"research_group\":null,\"relation_paused_at\":null,\"id\":393085,\"research_groups\":[],\"relation_created_at\":\"2023-11-04T19:34:03Z\",\"feature_flags\":{\"baby_and_nl_coupling_banner_v2_ios\":true,\"enable_keychain_caching_first\":true,\"webstreaming_promotion_sidemenu_ios\":true,\"baby_and_nl_coupling_v2_ios\":true,\"get_ip_address_locally_first\":true,\"ff_firebase_feature_flags_enabled\":true,\"mcs_streaming_fix\":true,\"pip_crash_fix\":true,\"anniversary_paywall_ios\":true,\"new_connectivity_fill_audio_buffer_fix\":false,\"baby_and_nl_coupling_banner_android\":false,\"audio_filter_ccs_v2\":true,\"security_change_email_extra_password_step_android\":true,\"new_connectivity_fill_audio_buffer_fix_v2\":true,\"suggested_skeleton\":true,\"track_cry_detection_android\":true,\"force_wifi_band\":true,\"mcs_full_screen\":true,\"change_plan_name\":true,\"semi_auto_sting_v2\":true,\"mfa\":true,\"allow_skip_smart_sheets_calibration\":true,\"debug_nanit_pro_pairing\":true,\"dashboard_head_pose_ios\":true,\"new_conversion_screen_ios_v2\":true,\"ff_name\":true,\"put_streaming_for_start_request\":true,\"track_cry_detection_ios\":true,\"t_and_h_graph_ios\":true,\"baby_and_nl_coupling_drawer_android\":false,\"mcs_welcome_message\":true,\"bmm_stopped_by\":true,\"nightlight_interaction\":true,\"disable_keep_alive\":true,\"security_change_phone_extra_mfa_step_ios\":true,\"mcs_connection_indication\":true,\"pairing_double_discover_timeout\":true,\"dark_inbox_theme_ios\":true,\"offline_notifications_android_v2\":true,\"mavenoid\":true,\"nl_audio_monitor_ios_v2\":true,\"dont_auto_renew_access_token\":true,\"local_view_only_enabled\":true,\"nanit_lite_temperature_units_settings_android\":true,\"sleep_training_v1\":false,\"nanit_lite_remote_control_socket_android\":true,\"disable_dedicated_queue_ccs_manager_v2\":true,\"cvr_v3\":true,\"enable_iap_v3\":true,\"pip_ios_v1\":false,\"release_sting_bpm\":true,\"tls\":true,\"nanit_lite_smart_routines_ok_to_wake_ios\":true,\"two_way_audio_crash_logs\":true,\"webstreaming_promotion_sidemenu_android\":true,\"double_write_server\":true,\"track_keychain_errors\":false,\"enforce_mfa_on_registration_android\":true,\"ping_v2\":true,\"dev_milestones_android\":true,\"enable_keychain_cooldown\":true,\"pip_ios_v3\":true,\"dev_milestones_ios\":true,\"security_change_email_extra_password_step_ios\":true,\"sms_hide_calibration\":true,\"baby_and_nl_coupling_drawer_v2_android\":true,\"monitoring_sounds\":true,\"ff_custom_notification_sound\":true,\"audio_only_one_minute\":true,\"dashboard_bmm_android\":true,\"p2p_no_retries\":true,\"enforce_mfa_on_login_android\":false,\"memories\":true,\"ff_track_local_connection_forbidden\":true,\"android_app_shortcuts\":true,\"plan_name_in_live_screen_iOS\":true,\"camera_standby\":true,\"sting\":true,\"cvr_okhttp\":true,\"alert_zone_v2\":true,\"dashboard_head_pose_android\":true,\"ccs_blocking_socket_ios\":true,\"allow_detach_camera\":true,\"nanit_pro_released\":true,\"disable_cordial_ios\":true,\"alert_zone_android_v1\":true,\"event_counter_ios\":false,\"use_webrtc_audio_fix_ios\":true,\"local_web_rtc_v5\":true,\"multi_cameras_poc\":true,\"managers_factory_thread_safe_fix\":true,\"use_new_port\":true,\"watch_them_grow_cta_v3\":true,\"baby_and_nl_coupling_drawer_ios\":false,\"ff_mcs_temp_and_hum_indication\":true,\"nanit_lite_list_in_sidemenu_ios_v2\":true,\"event_counter_android\":true,\"ff_crib_positioning_guidelines\":true,\"nanit_lite_remote_control_socket_ios\":true,\"pairing_double_timeouts\":true,\"watch_them_grow_ai\":true,\"nanit_lite_smart_routines_ok_to_wake_android\":true,\"new_ccs_v2_ios\":true,\"mcs\":true,\"dashboard_activity_score_android\":true,\"local_web_rtc_v3\":false,\"nl_audio_monitor_android_v2\":true,\"baby_out_of_crib\":true,\"audio_only_one_minute_android\":true,\"dashboard_bmm_ios\":true,\"force_ir_off\":true,\"baby_and_nl_coupling_v2_android\":true,\"nanit_lite_controls_temp_and_humidity_android\":true,\"new_connectivity_fix_background_audio\":true,\"downgrade_parenting_team\":true,\"sleep_training_v2\":false,\"sleep_training_v3\":false,\"pip_enable_additional_checks\":false,\"sms_manual_measurement\":true,\"pip_only_enqueue_sample_buffer_while_pip_active_v2\":true,\"ff_mcs_streaming_infra\":true,\"dev_milestones_compilation_ios\":true,\"nanit_lite_list_in_sidemenu_android\":true,\"dashboard_temp_and_humidity_ios\":true,\"dashboard_activity_score_ios\":true,\"security_change_phone_extra_mfa_step_android\":true,\"pip_only_enqueue_sample_buffer_while_pip_active\":true,\"disable_dedicated_queue_ccs_manager\":false,\"pip_orientation\":true,\"semi_auto_sting_android\":true,\"use_local_for_camera_ip_ios_v2\":true,\"nanit_lite_list_in_sidemenu_ios\":false,\"cvr_in_feed\":true,\"moments_playlist\":true,\"disable_cordial_ios_v2\":true,\"allow_disconnection_notifications_tracking\":true,\"cry_notification_mobile\":true,\"smart_sheets\":true,\"pairing_double_connect_timeout\":true,\"baby_and_nl_coupling_banner_v2_android\":true,\"dashboard_body_pose_ios\":true,\"enforce_protected_data_check\":true,\"always_try_local_connection_ios\":true,\"pairing_double_auth_timeout\":true,\"watch_them_grow_ai_android\":true,\"nanit_lite_temperature_units_settings_ios\":true,\"nanit_push_notification_sound\":true,\"dashboard_body_pose_android\":true,\"baby_and_nl_coupling_banner_ios\":false,\"should_disable_intercom_android\":true,\"baby_and_nl_coupling_drawer_v2_ios\":true,\"mcs_v2\":true,\"community_cta_v3\":true,\"enforce_mfa_on_registration_ios\":true,\"nanit_lite_controls_temp_and_humidity_ios\":true,\"mcs_cordial_deep_link\":true,\"should_disable_intercom_ios\":true,\"liveviewsmanager_crash_fix\":true,\"new_connectivity_v9\":true,\"dashboard_temp_and_humidity_android\":true},\"enforce_mfa_due_date\":null,\"units\":{\"temperature\":\"fahrenheit\",\"weight\":\"pounds\",\"length\":\"inches\",\"volume\":\"fluid_ounce\"},\"relation\":\"dad\",\"country\":\"US\",\"created_at\":\"2021-05-01T05:24:30Z\"},{\"mixpanel_tracking_enabled\":false,\"confirmed_at\":\"2021-05-01T05:42:53Z\",\"email\":\"skpatel26@gmail.com\",\"permission\":{\"type\":\"admin\",\"allowed\":{\"receive_notifications\":true,\"attach_speaker\":true,\"edit_settings\":true,\"edit_baby_tips_settings\":true,\"control_nature_sounds\":true,\"edit_subscription\":true,\"update_firmware\":true,\"control_nightlight\":true,\"two_way_audio\":true,\"sting_monitoring\":true,\"membook\":true,\"s[...]
