{
  "log": {
    "_recordingName": "login",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d4c8792b3c88a4b90ef95f9557de466a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "nanit-api-version",
              "value": "2"
            },
            {
              "name": "x-nanit-platform",
              "value": "iPhone 14 Pro Max"
            },
            {
              "name": "x-nanit-service",
              "value": "3.11.27 (699)"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"********email*********\",\"password\":\"********password********\"}"
          },
          "queryString": [],
          "url": "https://api.nanit.com/login"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 86,
            "text": "{\"mfa_token\":\"************mfa_token*************\",\"phone_suffix\":\"**\",\"channel\":\"sms\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 482,
          "statusText": "OK"
        },
        "time": 669,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
