{
  "log": {
    "_recordingName": "mfa",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d4c8792b3c88a4b90ef95f9557de466a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "nanit-api-version",
              "value": "2"
            },
            {
              "name": "x-nanit-platform",
              "value": "iPhone 14 Pro Max"
            },
            {
              "name": "x-nanit-service",
              "value": "3.11.27 (699)"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"tejesh.mehta@gmail.com\",\"password\":\"yolonimtan-widfIr-8tunja\"}"
          },
          "queryString": [],
          "url": "https://api.nanit.com/login"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 86,
            "text": "{\"mfa_token\":\"VEc601fd623f7eafb99a75854cba0f4bbb\",\"phone_suffix\":\"14\",\"channel\":\"sms\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 482,
          "statusText": "OK"
        },
        "time": 652,
      },
      {
        "_id": "d4c8792b3c88a4b90ef95f9557de466a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "nanit-api-version",
              "value": "2"
            },
            {
              "name": "x-nanit-platform",
              "value": "iPhone 14 Pro Max"
            },
            {
              "name": "x-nanit-service",
              "value": "3.11.27 (699)"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"tejesh.mehta@gmail.com\",\"password\":\"yolonimtan-widfIr-8tunja\",\"mfa_code\":\"2305\",\"mfa_token\":\"VEc601fd623f7eafb99a75854cba0f4bbb\"}"
          },
          "queryString": [],
          "url": "https://api.nanit.com/login"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6028,
            "text": "{\"user\":{\"mixpanel_tracking_enabled\":false,\"confirmed_at\":\"2021-05-01T05:24:52Z\",\"email\":\"tejesh.mehta@gmail.com\",\"phone\":\"+18645251514\",\"logs\":0,\"enforce_mfa\":true,\"name\":\"Tejesh\",\"pending_email\":null,\"source\":\"Invited by Nanit user\",\"image_url\":null,\"logs_nl\":0,\"research_group\":null,\"id\":393085,\"research_groups\":[],\"feature_flags\":{\"baby_and_nl_coupling_banner_v2_ios\":true,\"enable_keychain_caching_first\":true,\"webstreaming_promotion_sidemenu_ios\":true,\"baby_and_nl_coupling_v2_ios\":true,\"get_ip_address_locally_first\":true,\"ff_firebase_feature_flags_enabled\":true,\"mcs_streaming_fix\":true,\"pip_crash_fix\":true,\"anniversary_paywall_ios\":true,\"new_connectivity_fill_audio_buffer_fix\":false,\"baby_and_nl_coupling_banner_android\":false,\"audio_filter_ccs_v2\":true,\"security_change_email_extra_password_step_android\":true,\"new_connectivity_fill_audio_buffer_fix_v2\":true,\"suggested_skeleton\":true,\"track_cry_detection_android\":true,\"force_wifi_band\":true,\"mcs_full_screen\":true,\"change_plan_name\":true,\"semi_auto_sting_v2\":true,\"mfa\":true,\"allow_skip_smart_sheets_calibration\":true,\"debug_nanit_pro_pairing\":true,\"dashboard_head_pose_ios\":true,\"new_conversion_screen_ios_v2\":true,\"ff_name\":true,\"put_streaming_for_start_request\":true,\"track_cry_detection_ios\":true,\"t_and_h_graph_ios\":true,\"baby_and_nl_coupling_drawer_android\":false,\"mcs_welcome_message\":true,\"bmm_stopped_by\":true,\"nightlight_interaction\":true,\"disable_keep_alive\":true,\"security_change_phone_extra_mfa_step_ios\":true,\"mcs_connection_indication\":true,\"pairing_double_discover_timeout\":true,\"dark_inbox_theme_ios\":true,\"offline_notifications_android_v2\":true,\"mavenoid\":true,\"nl_audio_monitor_ios_v2\":true,\"ff_notifications_dark_theme_ios\":true,\"dont_auto_renew_access_token\":true,\"local_view_only_enabled\":true,\"nanit_lite_temperature_units_settings_android\":true,\"sleep_training_v1\":false,\"nanit_lite_remote_control_socket_android\":true,\"disable_dedicated_queue_ccs_manager_v2\":true,\"cvr_v3\":true,\"enable_iap_v3\":true,\"pip_ios_v1\":false,\"release_sting_bpm\":true,\"tls\":true,\"nanit_lite_smart_routines_ok_to_wake_ios\":true,\"two_way_audio_crash_logs\":true,\"webstreaming_promotion_sidemenu_android\":true,\"double_write_server\":true,\"track_keychain_errors\":false,\"enforce_mfa_on_registration_android\":true,\"ping_v2\":true,\"dev_milestones_android\":true,\"enable_keychain_cooldown\":true,\"pip_ios_v3\":true,\"dev_milestones_ios\":true,\"security_change_email_extra_password_step_ios\":true,\"sms_hide_calibration\":true,\"baby_and_nl_coupling_drawer_v2_android\":true,\"monitoring_sounds\":true,\"ff_custom_notification_sound\":true,\"audio_only_one_minute\":true,\"dashboard_bmm_android\":true,\"p2p_no_retries\":true,\"enforce_mfa_on_login_android\":false,\"memories\":true,\"ff_track_local_connection_forbidden\":true,\"android_app_shortcuts\":true,\"plan_name_in_live_screen_iOS\":true,\"camera_standby\":true,\"sting\":true,\"cvr_okhttp\":true,\"alert_zone_v2\":true,\"dashboard_head_pose_android\":true,\"ccs_blocking_socket_ios\":true,\"allow_detach_camera\":true,\"nanit_pro_released\":true,\"disable_cordial_ios\":true,\"alert_zone_android_v1\":true,\"event_counter_ios\":false,\"use_webrtc_audio_fix_ios\":true,\"local_web_rtc_v5\":true,\"multi_cameras_poc\":true,\"managers_factory_thread_safe_fix\":true,\"use_new_port\":true,\"watch_them_grow_cta_v3\":true,\"baby_and_nl_coupling_drawer_ios\":false,\"ff_mcs_temp_and_hum_indication\":true,\"nanit_lite_list_in_sidemenu_ios_v2\":true,\"event_counter_android\":true,\"ff_crib_positioning_guidelines\":true,\"nanit_lite_remote_control_socket_ios\":true,\"pairing_double_timeouts\":true,\"watch_them_grow_ai\":true,\"nanit_lite_smart_routines_ok_to_wake_android\":true,\"new_ccs_v2_ios\":true,\"mcs\":true,\"dashboard_activity_score_android\":true,\"local_web_rtc_v3\":false,\"nl_audio_monitor_android_v2\":true,\"baby_out_of_crib\":true,\"audio_only_one_minute_android\":true,\"dashboard_bmm_ios\":true,\"force_ir_off\":true,\"baby_and_nl_coupling_v2_android\":true,\"nanit_lite_controls_temp_and_humidity_android\":true,\"new_connectivity_fix_background_audio\":true,\"downgrade_parenting_team\":true,\"sleep_training_v2\":false,\"sleep_training_v3\":false,\"pip_enable_additional_checks\":false,\"sms_manual_measurement\":true,\"pip_only_enqueue_sample_buffer_while_pip_active_v2\":true,\"ff_mcs_streaming_infra\":true,\"dev_milestones_compilation_ios\":true,\"nanit_lite_list_in_sidemenu_android\":true,\"dashboard_temp_and_humidity_ios\":true,\"dashboard_activity_score_ios\":true,\"security_change_phone_extra_mfa_step_android\":true,\"pip_only_enqueue_sample_buffer_while_pip_active\":true,\"disable_dedicated_queue_ccs_manager\":false,\"pip_orientation\":true,\"semi_auto_sting_android\":true,\"use_local_for_camera_ip_ios_v2\":true,\"new_show_paywall_logic\":true,\"nanit_lite_list_in_sidemenu_ios\":false,\"cvr_in_feed\":true,\"moments_playlist\":true,\"disable_cordial_ios_v2\":true,\"allow_disconnection_notifications_tracking\":true,\"cry_notification_mobile\":true,\"smart_sheets\":true,\"pairing_double_connect_timeout\":true,\"baby_and_nl_coupling_banner_v2_android\":true,\"dashboard_body_pose_ios\":true,\"enforce_protected_data_check\":true,\"always_try_local_connection_ios\":true,\"pairing_double_auth_timeout\":true,\"watch_them_grow_ai_android\":true,\"nanit_lite_temperature_units_settings_ios\":true,\"nanit_push_notification_sound\":true,\"dashboard_body_pose_android\":true,\"baby_and_nl_coupling_banner_ios\":false,\"should_disable_intercom_android\":true,\"baby_and_nl_coupling_drawer_v2_ios\":true,\"mcs_v2\":true,\"community_cta_v3\":true,\"enforce_mfa_on_registration_ios\":true,\"nanit_lite_controls_temp_and_humidity_ios\":true,\"mcs_cordial_deep_link\":true,\"should_disable_intercom_ios\":true,\"liveviewsmanager_crash_fix\":true,\"new_connectivity_v9\":true,\"dashboard_temp_and_humidity_android\":true},\"enforce_mfa_due_date\":null,\"units\":{\"temperature\":\"fahrenheit\",\"weight\":\"pounds\",\"length\":\"inches\",\"volume\":\"fluid_ounce\"},\"country\":\"US\",\"created_at\":\"2021-05-01T05:24:30Z\"},\"access_token\":\"a651c7ca8dae425ab2953e26ad68d7baddfa71c47fb40901\",\"refresh_token\":\"af9f802775692856258c5b4fd25e45382ec5e391ea7ca17b\",\"token\":\"a651c7ca8dae425ab2953e26ad68d7baddfa71c47fb40901\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 472,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
